services:
  - type: web
    name: group05-project
    rootDir: backend
    env: node
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production

